{
  "openapi": "3.0.3",
  "info": {
    "title": "Hawkin Dynamics Force Platform API",
    "version": "1.13",
    "description": "## Overview\nThis API provides programmatic access to your Hawkin Dynamics force platform data.\n\n**Designed for server-to-server use.** Not intended for direct client-app access.\n\n**Rate limiting:** As your database grows, use `from`/`to` or `syncFrom`/`syncTo` parameters to limit response size. Responses exceeding the memory limit will fail.\n\n### Recommended Sync Strategy\n- **Incremental (ongoing):** Scheduled job using `syncFrom`/`syncTo` every 5 minutes\n- **Historical bulk export:** Use `from`/`to` per month in parallel or sequential requests",
    "contact": {
      "email": "dev-team@hawkindynamics.com"
    }
  },
  "servers": [
    {
      "url": "https://cloud.hawkindynamics.com",
      "description": "Americas (default)"
    },
    {
      "url": "https://eu.cloud.hawkindynamics.com",
      "description": "Europe"
    },
    {
      "url": "https://apac.cloud.hawkindynamics.com",
      "description": "Asia-Pacific"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Obtain access tokens using your refresh token"
    },
    {
      "name": "Tests",
      "description": "Retrieve test results and force-time data"
    },
    {
      "name": "Athletes",
      "description": "Manage athlete records"
    },
    {
      "name": "Organization",
      "description": "Teams, groups, tags, test types, and metrics"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter your Refresh Token (from Settings → Integrations in the Hawkin dashboard). It will be exchanged for a short-lived Access Token automatically."
      }
    },
    "schemas": {
      "AccessTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "JWT access token to use in subsequent API requests"
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_at": {
            "type": "integer",
            "description": "Unix timestamp when the token expires",
            "example": 1551301530
          }
        }
      },
      "TestType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "9710f473daa20f7069c3d337753e879c"
          },
          "name": {
            "type": "string",
            "example": "Countermovement Jump"
          },
          "canonicalId": {
            "type": "string",
            "example": "7nNduHeM5zETPjHxvm7s"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "AthleteRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Test": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "BMKtuEptQ1aIV0HE3oH15"
          },
          "testType": {
            "$ref": "#/components/schemas/TestType"
          },
          "athlete": {
            "$ref": "#/components/schemas/Athlete"
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp of the test",
            "example": 1551301560
          },
          "segment": {
            "type": "string",
            "description": "Test type and trial number within session",
            "example": "Countermovement Jump:5"
          }
        },
        "additionalProperties": {
          "oneOf": [
            {
              "type": "number"
            },
            {
              "type": "string"
            }
          ],
          "description": "Metric values keyed by metric name (e.g. 'Jump Height(m)'). Values may be numeric or 'N/A' if not calculable."
        }
      },
      "TestsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Test"
            }
          },
          "count": {
            "type": "integer",
            "example": 1
          },
          "lastTestTime": {
            "type": "integer",
            "description": "Unix timestamp of the most recent test",
            "example": 1551301560
          },
          "lastSyncTime": {
            "type": "integer",
            "description": "Unix timestamp to use as syncFrom in your next request",
            "example": 1551301560
          },
          "hasMore": {
            "type": "boolean",
            "description": "True if more pages exist. Only present when paginate=true."
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for next page. Null on last page. Only present when paginate=true."
          }
        }
      },
      "Athlete": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "teams": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of team IDs"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of group IDs"
          },
          "external": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom external properties as key-value pairs"
          }
        }
      },
      "AthleteInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "nullable": true,
            "description": "URL to athlete image",
            "default": null
          },
          "active": {
            "type": "boolean",
            "default": true
          },
          "teams": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Team IDs. Defaults to [defaultTeamId]"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [],
            "description": "Group IDs"
          },
          "external": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom properties"
          }
        }
      },
      "AthleteUpdateInput": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Required. The athlete's ID"
          },
          "name": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "active": {
            "type": "boolean"
          },
          "teams": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "external": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom properties. Note: custom properties NOT present in the request will be REMOVED."
          }
        }
      },
      "BulkResult": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Athlete"
            }
          },
          "hasFailures": {
            "type": "boolean"
          },
          "failures": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "reason": {
                  "type": "string"
                },
                "data": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      },
      "ForceTimeData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "testType": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "athlete": {
            "$ref": "#/components/schemas/AthleteRef"
          },
          "timestamp": {
            "type": "string",
            "description": "Unix timestamp"
          },
          "Time(s)": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "example": [
              0.001,
              0.002,
              0.003
            ]
          },
          "LeftForce(N)": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "example": [
              481,
              480,
              482
            ]
          },
          "RightForce(N)": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "example": [
              481,
              480,
              482
            ]
          },
          "CombinedForce(N)": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "example": [
              962,
              960,
              964
            ]
          },
          "Velocity(m/s)": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "example": [
              0,
              0,
              0
            ]
          },
          "Displacement(m)": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "example": [
              0,
              0,
              0
            ]
          },
          "Power(W)": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "example": [
              0,
              0,
              0
            ]
          },
          "rsi": {
            "type": "string",
            "description": "RSI value or 'NA'"
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "TestTypeSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Metric": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "units": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string"
          }
        }
      },
      "MetricsResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "canonicalTestTypeId": {
              "type": "string"
            },
            "testType": {
              "type": "string"
            },
            "metrics": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Metric"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/token": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get Access Token",
        "description": "Exchange your Refresh Token for a short-lived Access Token (1 hour). Generate your Refresh Token in the Hawkin Dynamics dashboard under **Settings → Integrations**. Only the organization administrator account can generate API tokens.\n\n**Note:** After you authenticate using the Authorize button above, executing this endpoint will use your cached refresh token to demonstrate the exchange.",
        "responses": {
          "200": {
            "description": "Access token successfully issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Refresh Token is invalid or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Refresh Token is missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1": {
      "get": {
        "tags": [
          "Tests"
        ],
        "summary": "Get Tests",
        "description": "Retrieve test results for your organization. Returns all tests unless filtered. **Important:** For large databases, always use time-range parameters to avoid memory limit failures.\n\n**Note:** Available metrics can change at any time. Some tests may be missing metrics if they cannot be calculated.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Unix timestamp — return tests from this time onward. Best for bulk historical exports.",
            "schema": {
              "type": "integer",
              "example": 1551301530
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Unix timestamp — return tests up to this time. Best for bulk historical exports.",
            "schema": {
              "type": "integer",
              "example": 1552301530
            }
          },
          {
            "name": "syncFrom",
            "in": "query",
            "description": "Unix timestamp — return tests **modified or created** since this time. Includes updates. Best for incremental sync. Cannot be used to fetch entire database.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "syncTo",
            "in": "query",
            "description": "Unix timestamp — upper bound for syncFrom queries. Store the returned `lastSyncTime` value and pass as `syncFrom` in your next request.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "athleteId",
            "in": "query",
            "description": "Filter by a specific athlete ID. Can only be used with `from`/`to` parameters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "Filter by one or more team IDs (comma-separated, max 10). Can only be used with `from`/`to` parameters.",
            "schema": {
              "type": "string",
              "example": "teamIdA,teamIdB,teamIdC"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "description": "Filter by one or more group IDs (comma-separated, max 10). Can only be used with `from`/`to` parameters.",
            "schema": {
              "type": "string",
              "example": "groupIdA,groupIdB"
            }
          },
          {
            "name": "testTypeId",
            "in": "query",
            "description": "Filter by a specific test type ID. Can only be used with `from`/`to` parameters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "description": "Default true. Set to false to return only active tests.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "paginate",
            "in": "query",
            "description": "Set to true to enable paginated responses (1,000 tests per page).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Firestore document ID from previous response's nextCursor. Omit on first request.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of test results matching the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/forcetime/{test_id}": {
      "get": {
        "tags": [
          "Tests"
        ],
        "summary": "Get Force-Time Data",
        "description": "Retrieve the raw force-time series data for a specific test. Returns time-series arrays for left force, right force, combined force, velocity, displacement, and power sampled at 1ms intervals.",
        "parameters": [
          {
            "name": "test_id",
            "in": "path",
            "required": true,
            "description": "The test ID to retrieve force-time data for",
            "schema": {
              "type": "string",
              "example": "BMKtuEptQ1aIV0HE3oH15"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Force-time data for the requested test",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForceTimeData"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Test not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test_types": {
      "get": {
        "tags": [
          "Tests"
        ],
        "summary": "Get Test Types",
        "description": "Retrieve all test types available in the Hawkin Dynamics system (e.g. Countermovement Jump, Squat Jump, Drop Jump).",
        "responses": {
          "200": {
            "description": "Array of test types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TestTypeSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/metrics": {
      "get": {
        "tags": [
          "Tests"
        ],
        "summary": "Get Metrics",
        "description": "Retrieve all metrics available for each test type, including ID, label, units, and description. Useful for building metric lookup tables.",
        "responses": {
          "200": {
            "description": "Array of test types with their associated metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athletes": {
      "get": {
        "tags": [
          "Athletes"
        ],
        "summary": "Get Athletes",
        "description": "Retrieve all athletes in your organization. Returns only active athletes by default.",
        "parameters": [
          {
            "name": "includeInactive",
            "in": "query",
            "description": "If present (any value), the response will include inactive athletes.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of athlete records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Athlete"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Athletes"
        ],
        "summary": "Create Athlete",
        "description": "Create a single new athlete record.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AthleteInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created athlete object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Athlete"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athletes/bulk": {
      "post": {
        "tags": [
          "Athletes"
        ],
        "summary": "Create Athletes (Bulk)",
        "description": "Bulk create up to **500 athletes** in a single request. Returns details of successfully created athletes and any failures.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "maxItems": 500,
                "items": {
                  "$ref": "#/components/schemas/AthleteInput"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk creation result with successes and failures",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkResult"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large (exceeds 500 athletes)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Athletes"
        ],
        "summary": "Update Athletes (Bulk)",
        "description": "Bulk update up to **500 athletes** in a single request.\n\n**Note:** Optional fields not included in the request will be left unchanged. However, when updating `external` properties, any custom properties **not present in the request will be removed**.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "maxItems": 500,
                "items": {
                  "$ref": "#/components/schemas/AthleteUpdateInput"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk update result with successes and failures",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkResult"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/athletes/{athleteId}": {
      "put": {
        "tags": [
          "Athletes"
        ],
        "summary": "Update Athlete",
        "description": "Update a single athlete by ID.\n\n**Note:** Optional fields not included will be left unchanged. However, when updating `external` properties, custom properties **not present in the request will be removed**.",
        "parameters": [
          {
            "name": "athleteId",
            "in": "path",
            "required": true,
            "description": "The athlete's ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AthleteUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated athlete object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Athlete"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/teams": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get Teams",
        "description": "Retrieve all teams in your organization with their IDs and names.",
        "responses": {
          "200": {
            "description": "Array of teams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Team"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/groups": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get Groups",
        "description": "Retrieve all groups in your organization with their IDs and names.",
        "responses": {
          "200": {
            "description": "Array of groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Group"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tags": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get Tags",
        "description": "Retrieve all tags in your organization. Tags are used to sub-classify tests within a test type (e.g. 'Arm Swing', 'Right Single Leg').",
        "responses": {
          "200": {
            "description": "Array of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}