{
  "openapi": "3.1.0",
  "info": {
    "title": "Bookeo API",
    "version": "2.0.0",
    "contact": {
      "name": "Support",
      "email": "api@bookeo.com",
      "url": "https://www.bookeo.com"
    }
  },
  "servers": [
    {
      "url": "https://api.bookeo.com/v2"
    }
  ],
  "paths": {
    "/availability/slots": {
      "get": {
        "summary": "Get information about the availability of products",
        "description": "Performs a basic search to find available slots and number of seats in each.\nNote that there are two different searches possible, /availability/slots (this endpoint) and /availability/matchingslots .\nThe former simply shows the number of available seats for each available slot. The latter takes as input the participant numbers, and shows the slots that are available for those numbers, and an estimate of the price.\n/availability/slots cannot be used for products of type flexibleTime . For those products, use /availability/matchingslots .",
        "tags": [
          "Availability"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "productId",
            "description": "the product id (see /settings/products). If not provided, all products of type \"fixed\" or \"fixedCourse\" will be included in the response. If no productId is provided, products that are not bookable by customers will not be included in the response. If productId is provided, the product must be of type \"fixed\" or \"fixedCourse\". For products of type \"flexibleTime\", use /availability/matchingslots instead.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "startTime",
            "description": "the start time to search from. Required unless pageNavigationToken is used.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "endTime",
            "description": "the end time to search to. Required unless pageNavigationToken is used. The maximum date range in a single call is 31 days.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 300
            },
            "name": "itemsPerPage",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "pageNavigationToken",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "name": "pageNumber",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "mode",
            "description": "if present and set to \"backend\", treats the operation as if it was done by a manager. This relaxes some constraints such as booking limits (time in advance).",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlotList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/availability/matchingslots": {
      "post": {
        "summary": "Find available slots matching given search parameters",
        "description": "Create a search for available slots that match the given search parameters.\nNote that there are two different searches possible, /availability/slots and /availability/matchingslots (this endpoint).\nThe former simply shows the number of available seats for each available slot. The latter (this one) takes as input the participant numbers, and shows the slots that are available for those numbers, and an estimate of the price.\nParameters include product code, number of people and options.\nThe successful response also contains a \"Location\" HTTP header, which can be invoked to navigate the results of the search.",
        "tags": [
          "Availability"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingSlotsSearchParameters"
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 300
            },
            "name": "itemsPerPage",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "mode",
            "description": "if present and set to \"backend\", treats the operation as if it was done by a manager. This relaxes some constraints such as booking limits (time in advance).",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchingSlotList"
                }
              }
            },
            "description": "The search was created successfully. The HTTP header \"Location\" contains the URI to use to access the results. It will point to /availability/matchingslots/{pageNavigationToken} ."
          }
        }
      }
    },
    "/availability/matchingslots/{pageNavigationToken}": {
      "get": {
        "summary": "Navigate results of a matching slots search",
        "tags": [
          "Availability"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "pageNavigationToken",
            "required": true,
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "name": "pageNumber",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchingSlotList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/bookings": {
      "post": {
        "summary": "Create a new booking",
        "description": "When creating a booking for a product of type \"fixed\" or \"fixedCourse\", the eventId is required. eventIds are obtained by calling /availability/slots or /availability/matchingSlots .\nWhen creating a booking for a product of type \"flexibleTime\", you can either specify the eventId or the startTime (in which case you can optionally specify the endTime. If no endTime is specified, Bookeo will automatically calculate the duration based on the options chosen)",
        "tags": [
          "Bookings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Booking"
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "previousHoldId",
            "description": "if specified, deletes the hold with the given id",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "notifyUsers",
            "description": "whether to send a notification email (and possibly SMS, depending on settings) to eligible users",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "notifyCustomer",
            "description": "whether to send a confirmation email to the customer",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "sendCustomerReminders",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "sendCustomerThankyou",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "mode",
            "description": "if present and set to \"backend\", treats the operation as if it was done by a manager. This relaxes some constraints such as when is it possible to change a booking, participants limits for the booking, booking limits (time in advance), and so on.",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            },
            "description": "The resource was created successfully. The HTTP response contains a Location header whose value is the resource URI."
          }
        }
      },
      "get": {
        "summary": "Retrieve bookings",
        "description": "Retrieve existing bookings\nThe result is limited by the permissions of the apiKey.\n\n\nIt is possible to filter by time booked and/or time of the last change.\nTo filter by time booked, the parameters startTime and endTime are required.\nTo filter by last time changed, the parameters lastUpdatedStartTime and lastUpdatedEndTime are required.\nIt is possible to filter by both at the same time. At least one of the two filters must be used.\n\n\nIt is further possible to filter by product id.\n\n\nDo not use this method to periodically poll for new/changed bookings. Use webhooks (see API general documentation) instead.",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "startTime",
            "description": "if specified, only include bookings that start on or after this time. If specified, endTime must be specified as well.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "endTime",
            "description": "if specified, only include bookings that start on or before this time. If specified, startTime  must be specified as well. The maximum allowed interval is 31 days.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "lastUpdatedStartTime",
            "description": "if specified, only include bookings that were last changed (or created) on or after this time. If specified, lastUpdatedEndTime must be specified as well.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "lastUpdatedEndTime",
            "description": "if specified, only include bookings that were last changed (or created) on or before this time. If specified, lastUpdatedStartTime  must be specified as well.  The maximum allowed interval is 31 days.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "productId",
            "description": "if not specified, include bookings for all products. If specified, include only bookings for this product",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "name": "includeCanceled",
            "description": "if true, canceled bookings are included. If false, only bookings that are not canceled are included",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "name": "expandCustomer",
            "description": "if true, the full details of the customer are included (provided the application has read permission over the customer)",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "name": "expandParticipants",
            "description": "if true, full details of the participants are included (provided the application has read permission over the participant)",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 100
            },
            "name": "itemsPerPage",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "pageNavigationToken",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "name": "pageNumber",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingsList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/bookings/{bookingNumber}": {
      "get": {
        "summary": "Retrieve a booking",
        "description": "Retrieve a booking by its booking number",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "bookingNumber",
            "required": true,
            "in": "path"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "name": "expandCustomer",
            "description": "if true, the full details of the customer are included (provided the application has read permission over the customer)",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "name": "expandParticipants",
            "description": "if true, full details of the participants are included (provided the application has read permission over the participant)",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      },
      "put": {
        "summary": "Update an existing booking",
        "tags": [
          "Bookings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Booking"
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "bookingNumber",
            "required": true,
            "in": "path"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "notifyUsers",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "notifyCustomer",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "mode",
            "description": "if present and set to \"backend\", treats the operation as if it was done by a manager. This relaxes some constraints such as when is it possible to change a booking, participants limits for the booking, booking limits (time in advance), and so on.",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            },
            "description": "The resource was updated successfully. The HTTP response contains a Location header whose value is the resource URI."
          }
        }
      },
      "delete": {
        "summary": "Cancel a booking",
        "description": "Cancel a booking. Cancelled bookings remain in the system, but no longer show up in the calendar or take up seats.",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "bookingNumber",
            "required": true,
            "in": "path"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "notifyUsers",
            "description": "if true, notification emails and SMS are sent to authorized users",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "notifyCustomer",
            "description": "if true, a notification email is sent to the customer",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "applyCancellationPolicy",
            "description": "if true, the default cancellation policy is applied. This may cause a charge on the credit card on file, if a cancellation fee is due",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "trackInCustomerHistory",
            "description": "if true, the cancellation will be tracked in the customer\u0027s stats",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "cancelRemainingSeries",
            "description": "if true, and this booking is part of a recurring series, all following bookings will be cancelled as well",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "reason",
            "description": "an optional reason that explains why the booking was cancelled. This will be included in the cancellation email sent to the customer (if one is sent)",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        }
      }
    },
    "/bookings/{bookingNumber}/payments": {
      "post": {
        "summary": "Add a payment to a booking",
        "description": "Create a payment record associated with a booking",
        "tags": [
          "Bookings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Payment"
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "bookingNumber",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            },
            "description": "The resource was created successfully. The HTTP response contains a Location header whose value is the resource URI."
          }
        }
      },
      "get": {
        "summary": "Get the payments received for a booking",
        "description": "Get a list of all payments received for a booking. Only payments for which the apiKey has at least read permission will be included",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "bookingNumber",
            "required": true,
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 100
            },
            "name": "itemsPerPage",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "pageNavigationToken",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "name": "pageNumber",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/bookings/{bookingNumber}/customer": {
      "get": {
        "summary": "Retrieve the customer associated with a booking",
        "description": "Retrieve the customer associated with a booking.",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "bookingNumber",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/customers": {
      "get": {
        "summary": "Retrieve customers",
        "description": "Get a list of customers.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "schema": {
              "type": "boolean",
              "default": true
            },
            "name": "currentMembers",
            "description": "if true, include customers that are current members. this is the default",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": true
            },
            "name": "currentNonMembers",
            "description": "if true, include customers that are not current members. this is the default",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "createdSince",
            "description": "if present, only include customers created since the given time",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "firstName",
                "lastName",
                "emailAddress"
              ],
              "default": "name"
            },
            "name": "searchField",
            "description": "a field on which to apply the search filter. Used only if searchText is specified",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "searchText",
            "description": "the text to search for. If not present, all customers are returned",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 100
            },
            "name": "itemsPerPage",
            "description": "number of items per page",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "pageNavigationToken",
            "description": "if present, continues navigation after a previous call. pageNavigationToken is included in the response of the first call, if there are more results than itemsPerPage",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "name": "pageNumber",
            "description": "if present, and pageNavigationToken is present, indicates what page to navigate to. Ignored unless pageNavigationToken is present",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      },
      "post": {
        "summary": "Create a new customer.",
        "description": "Create a new customer.\nPlease note there is a limit to the number of customers that can be imported in Bookeo. Bookeo is primarily a booking system, not a CRM.\nYou do not need to call this endpoint to create a customer before creating a booking. It is possible to create the customer and the booking in a single call to POST /bookings .",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            },
            "description": "The resource was created successfully. The HTTP response contains a Location header whose value is the resource URI."
          }
        }
      }
    },
    "/customers/{customerid}/linkedpeople/{id}": {
      "get": {
        "summary": "Retrieve a person linked to a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "customerid",
            "required": true,
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedPerson"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      },
      "put": {
        "summary": "Update the details of a person linked to a customer",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedPerson"
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "customerid",
            "required": true,
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource was updated successfully."
          }
        }
      },
      "delete": {
        "summary": "Delete a person linked to a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "customerid",
            "required": true,
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "summary": "Retrieve a customer",
        "description": "Retrieve a customer by its id",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      },
      "put": {
        "summary": "Update an existing customer",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            },
            "description": "The resource was updated successfully. The HTTP response contains a Location header whose value is the resource URI."
          }
        }
      },
      "delete": {
        "summary": "Delete a customer",
        "description": "Delete a customer.\nPlease note it is not possible to delete customers that have bookings in the future, and that are not cancelled.\nIf your application needs to delete a customer with future bookings, make sure to cancel all future bookings for that customer first.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        }
      }
    },
    "/customers/{id}/authenticate": {
      "get": {
        "summary": "Check a customer\u0027s password",
        "description": "The customer\u0027s email address is the \"username\" used by Bookeo to authenticate customers.\nSo to authenticate a customer your application would typically use GET /customers to search for customers with a given email address, and then GET /customers/{id}/authenticate to authenticate.\nRemember that there may be duplicate customer records with the same email address, ex. due to duplicate importing or manual record creation.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "password",
            "description": "remember to use URL encoding",
            "required": true,
            "in": "query"
          }
        ],
        "responses": {
          "403": {
            "description": "Invalid password"
          },
          "200": {
            "description": "Correct password"
          }
        }
      }
    },
    "/customers/{id}/bookings": {
      "get": {
        "summary": "Retrieve a customer\u0027s bookings",
        "description": "Get a customer\u0027s bookings.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "beginDate",
            "description": "if specified, only bookings on or after this date will be included",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "endDate",
            "description": "if specified, only bookings on or before this date will be included",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false
            },
            "name": "expandParticipants",
            "description": "if true, full details of the participants are included (provided the application has read permission over the participant)",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 100
            },
            "name": "itemsPerPage",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "pageNavigationToken",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "name": "pageNumber",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingsList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/customers/{id}/linkedpeople": {
      "get": {
        "summary": "Get the people linked to a customer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 100
            },
            "name": "itemsPerPage",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "pageNavigationToken",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "name": "pageNumber",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedPersonList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/holds": {
      "post": {
        "summary": "Create a temporary hold to finalize the booking",
        "description": "Performs a final check of the booking, and reserves required resources/seats to allow finalization of the booking process (ex. process payment).\nThe returned object also contains the updated price calculations.\nNormally your application should have no more than one hold in place during a customer booking process.\nMake sure to not leave many holds around. In any case, holds are deleted automatically after a fixed time from creation.\nNote that when creating a hold, the customer field of the booking can be missing, in which case Bookeo will assume a default customer coming from the same country as the account.\nThe successful response also contains a \"Location\" HTTP header, which can be used to access the created resource in future invocations.",
        "tags": [
          "Holds"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Booking"
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 300
            },
            "name": "holdDurationSeconds",
            "description": "the required seats/resources will be reserved for the specified time, ensuring that they cannot be taken by other bookings during this time. The hold cannot be for more than 10 minutes.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "previousHoldId",
            "description": "if a previous hold was created during the same session with the customer, it will be automatically removed and replaced by the new one.",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hold"
                }
              }
            },
            "description": "The resource was created successfully. The HTTP response contains a Location header whose value is the resource URI."
          }
        }
      }
    },
    "/holds/{id}": {
      "get": {
        "summary": "Retrieve a hold previously generated",
        "tags": [
          "Holds"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hold"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      },
      "delete": {
        "summary": "Delete a temporary hold",
        "description": "Delete a temporary hold previously created.\nNote that you can also delete a hold when creating a new hold (ex. when the customer goes back in the booking process and selects a different time), or when creating a booking (i.e. when the customer checks out), without having to make a separate call to this endpoint.",
        "tags": [
          "Holds"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        }
      }
    },
    "/payments": {
      "get": {
        "summary": "Get a list of payments received",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "creditCard",
                "paypal",
                "bankTransfer",
                "cash",
                "checque",
                "debitCard",
                "existingCredit",
                "accountCredit",
                "moneyVoucher",
                "other"
              ]
            },
            "name": "paymentMethod",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "paymentMethodOther",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "startTime",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "endTime",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 300
            },
            "name": "itemsPerPage",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "pageNavigationToken",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "name": "pageNumber",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/payments/{id}": {
      "get": {
        "summary": "Retrieve a specific payment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/resourceblocks": {
      "get": {
        "summary": "Retrieve resource blocks",
        "description": "Retrieve existing resource blocks\nThe result is limited by the permissions of the apiKey.\n\n\nIt is possible to filter by time blocked and/or time of the last change.\nTo filter by time blocked, the parameters startTime and endTime are required.\nTo filter by last time changed, the parameters lastUpdatedStartTime and lastUpdatedEndTime are required.\nIt is possible to filter by both at the same time. At least one of the two filters must be used.\n\n\nIt is further possible to filter by resource.",
        "tags": [
          "ResourceBlocks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "startTime",
            "description": "if specified, only include blocks that start on or after this time. If specified, endTime must be specified as well.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "endTime",
            "description": "if specified, only include blocks that start on or before this time. If specified, startTime  must be specified as well. The maximum allowed interval is 31 days.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "lastUpdatedStartTime",
            "description": "if specified, only include blocks that were last changed (or created) on or after this time. If specified, lastUpdatedEndTime must be specified as well.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "lastUpdatedEndTime",
            "description": "if specified, only include blocks that were last changed (or created) on or before this time. If specified, lastUpdatedStartTime  must be specified as well.  The maximum allowed interval is 31 days.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "resourceId",
            "description": "if specified, only include blocks that affect this resource",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 100
            },
            "name": "itemsPerPage",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "pageNavigationToken",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "name": "pageNumber",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceBlocksList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      },
      "post": {
        "summary": "Create a new resource block",
        "description": "\"blocks\" time for one or more resources, so that they\u0027re not available for booking.\nA resource block must be for at least one resource, but it can block more than one.\nWhen setting the resources in the block, only the id of the resource is required.",
        "tags": [
          "ResourceBlocks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceBlock"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceBlock"
                }
              }
            },
            "description": "The resource was created successfully. The HTTP response contains a Location header whose value is the resource URI."
          }
        }
      }
    },
    "/resourceblocks/{id}": {
      "get": {
        "summary": "Retrieve a block",
        "description": "Retrieve a block by its id",
        "tags": [
          "ResourceBlocks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceBlock"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      },
      "put": {
        "summary": "Update an existing block",
        "description": "A resource block must be for at least one resource, but it can block more than one.\nWhen setting the resources in the block, only the id is required.",
        "tags": [
          "ResourceBlocks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceBlock"
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource was updated successfully."
          }
        }
      },
      "delete": {
        "summary": "Delete a block",
        "tags": [
          "ResourceBlocks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        }
      }
    },
    "/seatblocks": {
      "get": {
        "summary": "Retrieve seat blocks",
        "description": "Retrieve existing seat blocks\nThe result is limited by the permissions of the apiKey.\n\n\nIt is possible to filter by time blocked and/or time of the last change.\nTo filter by time blocked, the parameters startTime and endTime are required.\nTo filter by last time changed, the parameters lastUpdatedStartTime and lastUpdatedEndTime are required.\nIt is possible to filter by both at the same time. At least one of the two filters must be used.\n\n\nIt is further possible to filter by product id.",
        "tags": [
          "SeatBlocks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "startTime",
            "description": "if specified, only include blocks that start on or after this time. If specified, endTime must be specified as well.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "endTime",
            "description": "if specified, only include blocks that start on or before this time. If specified, startTime  must be specified as well. The maximum allowed interval is 31 days.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "lastUpdatedStartTime",
            "description": "if specified, only include blocks that were last changed (or created) on or after this time. If specified, lastUpdatedEndTime must be specified as well.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "name": "lastUpdatedEndTime",
            "description": "if specified, only include blocks that were last changed (or created) on or before this time. If specified, lastUpdatedStartTime  must be specified as well.  The maximum allowed interval is 31 days.",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "productId",
            "description": "if specified, only include blocks for this product. If not specified, include blocks for any product",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 100
            },
            "name": "itemsPerPage",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "pageNavigationToken",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "name": "pageNumber",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeatBlocksList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      },
      "post": {
        "summary": "Create a new seat block",
        "description": "\"blocks\" a given number of seats, so that they\u0027re not available for booking.",
        "tags": [
          "SeatBlocks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeatBlock"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeatBlock"
                }
              }
            },
            "description": "The resource was created successfully. The HTTP response contains a Location header whose value is the resource URI."
          }
        }
      }
    },
    "/seatblocks/{id}": {
      "get": {
        "summary": "Retrieve a block",
        "description": "Retrieve a block by its id",
        "tags": [
          "SeatBlocks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeatBlock"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      },
      "put": {
        "summary": "Update an existing block",
        "description": "Updates an existing seat block",
        "tags": [
          "SeatBlocks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeatBlock"
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeatBlock"
                }
              }
            },
            "description": "The resource was updated successfully. The HTTP response contains a Location header whose value is the resource URI."
          }
        }
      },
      "delete": {
        "summary": "Delete a block",
        "tags": [
          "SeatBlocks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        }
      }
    },
    "/settings/apikeyinfo": {
      "get": {
        "summary": "Get information about your own API Key",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyInfo"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/settings/business": {
      "get": {
        "summary": "Get information, location and contact details about the business",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Business"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/settings/customercustomfields": {
      "get": {
        "summary": "Retrieve custom fields about customers and participants",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldDefinitions"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/settings/languages": {
      "get": {
        "summary": "Retrieve all supported languages",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguagesList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/settings/peoplecategories": {
      "get": {
        "summary": "Retrieve all supported people categories",
        "description": "Retrieve the people categories supported by this account.\nThis can include the default ones (\"Adults\",\"Children\",\"Infants\") and also custom ones defined by the account (\"Students\", ...)",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleCategoryList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/settings/products": {
      "get": {
        "summary": "Get information about the products offered",
        "description": "Get information about all the products (things that can be booked) offered.\n3 types of product are available:\n- fixed are products with a fixed schedule and a given number of seats. Ex a group tour, a class, a workshop\n- fixedCourse are fixed products that are defined as a course, i.e. comprise of a series of dates\n- flexibleTime are products that describe private appointments, i.e. when one booking uses one resource (teacher, consultant, etc)\n\nAlthough Bookeo applies a minimum amount of caching, it is recommended to cache these results for 10-15 minutes to improve the performance of your application, as product settings change rarely.",
        "tags": [
          "Settings"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "fixed",
                "fixedCourse",
                "flexibleTime"
              ]
            },
            "name": "type",
            "description": "if not specified, get all products",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 100
            },
            "name": "itemsPerPage",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "pageNavigationToken",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "name": "pageNumber",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "lang",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/settings/resources": {
      "get": {
        "summary": "Retrieve all available resources",
        "tags": [
          "Settings"
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 100
            },
            "name": "itemsPerPage",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "pageNavigationToken",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "name": "pageNumber",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceTypesList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/settings/taxes": {
      "get": {
        "summary": "Retrieve all taxes used by this business",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxesList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/subaccounts": {
      "get": {
        "summary": "List all subaccounts in the portal",
        "tags": [
          "Subaccounts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 300
            },
            "name": "itemsPerPage",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "pageNavigationToken",
            "required": false,
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "name": "pageNumber",
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalSubaccountsList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      }
    },
    "/subaccounts/{subaccountId}/apikeys": {
      "post": {
        "summary": "Create a new API Key for this application to access a subaccount",
        "description": "Install this application in a subaccount.\nNote that the API key used in this call must be that of the portal manager account. The application installed in the subaccount will be the same as this one, with the same permissions.\nIf this application was already installed in the subaccount, its API key will be replaced by the one created in this call.",
        "tags": [
          "Subaccounts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "subaccountId",
            "description": "the id of the subaccount where to install this application",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "201": {
            "description": "The resource was created successfully. The HTTP response contains a Location header whose value is the resource URI."
          }
        }
      }
    },
    "/subaccounts/{subaccountId}/apikeys/{apiKey}": {
      "delete": {
        "summary": "Delete the API Key for this application from a subaccount",
        "description": "Uninstall this application from a subaccount.",
        "tags": [
          "Subaccounts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "subaccountId",
            "required": true,
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "name": "apiKey",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List all webhooks",
        "description": "Retrieve all the webhooks for this api key",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhooksList"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      },
      "post": {
        "summary": "Create a new webhook",
        "description": "Note that if an existing webhook for the same domain and type was already set for this api key, it will be automatically replaced by this new webhook.\nIn other words, there can be only one webhook for each combination of domain and type, for an API key.\nSo to upgrade an existing webhook URL, simply create a new one with the same domain and type, but a different URL.\n\nFor webhook with domain \"bookings\" and type \"deleted\", the notification will be sent whether the booking is canceled or completely deleted.\nUsers can delete bookings by, for example, deleting their associated customer.\nAlso note that these \"bookings\" \"deleted\" notifications are sent even for bookings in the past.\n\nFinally, in order to prevent \"sync loops\", if an application creates/modifies/deletes a customer, no webhook messages for the domain \"customers\" will be delivered to the same app.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Webhook"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource was created successfully. The HTTP response contains a Location header whose value is the resource URI."
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "get": {
        "summary": "Retrieve a webhook",
        "description": "Retrieve a webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "webhookId",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            },
            "description": "The call was completed successfully."
          }
        }
      },
      "delete": {
        "summary": "Delete a webhook",
        "description": "Delete a webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "webhookId",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiKeyInfo": {
        "type": "object",
        "description": "Provides detailed information about the API Key being used.",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the business (Bookeo account) that has installed this key.\nIf the application is uninstalled, and then installed again for the same business, the api key would change, but the accountId would not.",
            "readOnly": true
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "readOnly": true
          },
          "creationTime": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        },
        "required": [
          "accountId",
          "permissions",
          "creationTime"
        ]
      },
      "Booking": {
        "type": "object",
        "description": "Represents a booking",
        "properties": {
          "bookingNumber": {
            "type": "string",
            "description": "The unique booking number. Always treat as string",
            "readOnly": true
          },
          "eventId": {
            "type": "string",
            "description": "When the booking is for a product of type fixed or fixedCourse, this is the id of the slot (see /availability/slots).\nNote that for fixedCourse, Bookeo always returns the eventId of the first class in a course, even if the customer is enrolled starting from a later class.\nIn this case, firstCourseEnrolledEvent will be set."
          },
          "firstCourseEnrolledEventId": {
            "type": "string",
            "description": "If the product is of type fixedCourse, and it is possible to accept late enrolment, this is the id of the event (class) where the actual enrolment starts."
          },
          "dropinCourseEnrolledEventId": {
            "type": "string",
            "description": "If the product is of type fixedCourse, and it is possible to accept bookings for a single class in the course (drop-in), this is the id of the event (class) actually enrolled in."
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "The start time of the booking. When creating a booking, either this or eventId must be specified"
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "The end time of the booking.\nWhen creating a new booking of type flexibleTime, you can specify this field to force an end time. Or you can omit this field, in which case Bookeo will calculate the end time based on product and options chosen."
          },
          "customerId": {
            "type": "string",
            "description": "The id of the customer this booking is for. When creating a booking, use this to create a booking for an existing customer."
          },
          "customer": {
            "$ref": "#/components/schemas/Customer",
            "description": "The customer associated with this booking\nWhen reading a booking, this field is included only if the parameter expandCustomer is set to true, and the application has the necessary read permission for the customer.\nAn application can include this field only when creating a new booking for a new customer. To create a booking for an existing customer, use the customerId field instead.\nTo update a customer, use PUT /customers/{customerId}"
          },
          "title": {
            "type": "string",
            "description": "The title of this booking, same as the one displayed by Bookeo in the calendar",
            "readOnly": true
          },
          "externalRef": {
            "type": "string",
            "description": "An external reference number that identifies this booking in an external system. The maximum length is 64 characters."
          },
          "participants": {
            "$ref": "#/components/schemas/Participants",
            "description": "Participants associated to this booking"
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            },
            "description": "Resources involved in a booking, if the booking is for a product of type \"flexibleTime\".\nIf the booking is for a different type of product, this field is empty/ignored.\nWhen creating or updating a booking, only the id of a resource is required. Any name passed is ignored.\nIf not specified when creating or updating a booking, Bookeo will automatically assign available resources."
          },
          "canceled": {
            "type": "boolean",
            "description": "Whether this booking is canceled",
            "readOnly": true
          },
          "cancelationTime": {
            "type": "string",
            "format": "date-time",
            "description": "If the booking is cancelled, this is the time when it was cancelled",
            "readOnly": true
          },
          "cancelationAgent": {
            "type": "string",
            "description": "If the booking is cancelled, this is the person who cancelled",
            "readOnly": true
          },
          "accepted": {
            "type": "boolean",
            "description": "Whether this booking was accepted. If no accept/deny was applicable to the booking, the booking is considered accepted as created.",
            "readOnly": true
          },
          "sourceIp": {
            "type": "string",
            "description": "The IP address from where this booking was created"
          },
          "creationTime": {
            "type": "string",
            "format": "date-time",
            "description": "The time when the booking was created",
            "readOnly": true
          },
          "creationAgent": {
            "type": "string",
            "description": "The person that created the booking",
            "readOnly": true
          },
          "lastChangeTime": {
            "type": "string",
            "format": "date-time",
            "description": "The time when the booking was last updated. If the booking was never changed after creation, this field is not present.",
            "readOnly": true
          },
          "lastChangeAgent": {
            "type": "string",
            "description": "The person who last updated this booking. If the booking was never changed after creation, this field is not present.",
            "readOnly": true
          },
          "productName": {
            "type": "string",
            "description": "The name of the product this booking is for",
            "readOnly": true
          },
          "productId": {
            "type": "string",
            "description": "The id of the product this booking is for. For a full list of products and their ids, see /settings/products"
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BookingOption"
            }
          },
          "privateEvent": {
            "type": "boolean",
            "description": "Whether this booking reserves the entire event. Only available for products that allow it."
          },
          "priceAdjustments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriceAdjustment"
            },
            "description": "Custom items added to the booking, which can be used to alter the final price. For example an additional service, or a custom discount, and so on."
          },
          "promotionCodeInput": {
            "type": "string",
            "description": "Optional promotion code input, can be used when creating or updating a booking\nIt could be a single code, or a list of codes separated by comma (ex. multiple coupon codes)\nIn general, applications creating bookings can simply ask the customer to input a promotion code (like they would on Bookeo\u0027s web interface) and pass the input in this field.\nBookeo will then parse and validate any text entered"
          },
          "promotionName": {
            "type": "string",
            "description": "The name of the promotion that was applied to this booking.",
            "readOnly": true
          },
          "couponCodes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "If a promotion of type \"multiple coupon codes\" was applied to this booking, this is the list of coupon codes used",
            "readOnly": true
          },
          "giftVoucherCodeInput": {
            "type": "string",
            "description": "A gift voucher code applicable to this booking. This field is only set by the application, when creating or updating a booking.\nIt is possible to specify multiple codes, separated by commas.\nNo more than one specific (as opposed to \"generic\", value-based) gift voucher can be used per booking."
          },
          "specificVoucherCode": {
            "type": "string",
            "description": "When the booking used a service specific voucher (i.e. as opposed to a \"generic\" voucher, based on a fixed amount), the code of the voucher is reported here.",
            "readOnly": true
          },
          "initialPayments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payment"
            },
            "description": "When creating a new booking, an application can also record one or more payment associated to the booking (ex. if the customer has paid a deposit or the full amount online)\nThis field is never set by Bookeo, and is ignored unless this is a new booking being created."
          },
          "noShow": {
            "type": "boolean",
            "description": "Whether this booking was marked as no show",
            "readOnly": true
          },
          "price": {
            "$ref": "#/components/schemas/Price",
            "description": "Details about price, taxes, etc.",
            "readOnly": true
          },
          "source": {
            "type": "string",
            "description": "The \"source\" of this booking when it was created. This can be the name of a partner, ad campaign, etc.\nThis property can only be set when the booking is being created."
          }
        },
        "required": [
          "title",
          "participants",
          "creationTime",
          "creationAgent",
          "productId"
        ]
      },
      "BookingLimit": {
        "type": "object",
        "properties": {
          "peopleCategoryId": {
            "type": "string",
            "description": "If not present, this limit represents the limit for the total number of people in the booking.\nIf present, this limit represents how many people in the given category can be included in a single booking.\nTo obtain a list of people categories for an account, call /settings/peoplecategories",
            "readOnly": true
          },
          "min": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "max": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          }
        },
        "required": [
          "min",
          "max"
        ]
      },
      "BookingOption": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the option.\nIt must match the id of an existing ChoiceOption, NumberOption, OnOffOption or TextOption for the product.\nSee /settings/products to retrieve the list of options for each product.\nWhen submitting a booking, either the id or the name field are required. If both are supplied, Bookeo will only consider the id field."
          },
          "name": {
            "type": "string",
            "description": "The name of the option\nIt must match the name of an existing ChoiceOption, NumberOption, OnOffOption or TextOption for the product.\nSee /settings/products to retrieve the list of options for each product.\nWhen submitting a booking, either the id or the name field are required. If both are supplied, Bookeo will only consider the id field"
          },
          "value": {
            "type": "string",
            "description": "The value of the option. For checkbox-type options, possible values are \"true\" and \"false\".\nFor choice options, this is the name (i.e. plain text) of the chosen value, not the id"
          }
        },
        "required": [
          "value"
        ]
      },
      "BookingsList": {
        "type": "object",
        "properties": {
          "info": {
            "$ref": "#/components/schemas/PaginationInfo",
            "readOnly": true
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Booking"
            },
            "readOnly": true
          }
        },
        "required": [
          "info",
          "data"
        ]
      },
      "Business": {
        "type": "object",
        "description": "Represents a Bookeo account, i.e. the business taking bookings, selling products, etc.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique id for this business (Bookeo account)",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "readOnly": true
          },
          "legalIdentifiers": {
            "type": "string",
            "description": "Tax ID, Vat ID, other legal identifiers",
            "readOnly": true
          },
          "phoneNumbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            },
            "readOnly": true
          },
          "websiteURL": {
            "type": "string",
            "readOnly": true
          },
          "emailAddress": {
            "type": "string",
            "readOnly": true
          },
          "streetAddress": {
            "$ref": "#/components/schemas/StreetAddress",
            "readOnly": true
          },
          "logo": {
            "$ref": "#/components/schemas/Image",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "description": "A description of the business, provided by the business itself. The content is in HTML.",
            "readOnly": true
          }
        },
        "required": [
          "id",
          "name",
          "phoneNumbers",
          "streetAddress"
        ]
      },
      "ChoiceCustomField": {
        "type": "object",
        "description": "Represents a custom field where the customer must choose a value from one of possible values",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique, never changing id that identifies this field",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "description": "A description for the field",
            "readOnly": true
          },
          "shownToCustomers": {
            "type": "boolean",
            "description": "Some fields may only be accessible to users/staff.\nIf this field is false, applications should not show this field to customers, or ask them to input a value for this field.",
            "readOnly": true
          },
          "forCustomer": {
            "type": "boolean",
            "description": "Whether this field is about a customer (person making the booking)",
            "readOnly": true
          },
          "forParticipants": {
            "type": "boolean",
            "description": "Whether this field is about participants (people the booking). If true, the app should ask this field about every participant in the booking.",
            "readOnly": true
          },
          "index": {
            "type": "integer",
            "format": "int32",
            "description": "The order index (starting from 0) of this field. The order is relative to all fields, of any type. So a number field could have index 0, then a text field could have index 1, then another number field have index 2.",
            "readOnly": true
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChoiceCustomFieldValue"
            },
            "description": "The possible values for this field",
            "readOnly": true
          },
          "defaultValueId": {
            "type": "string",
            "description": "The id of the default ChoiceCustomFieldValue, if a default value is set. Empty otherwise",
            "readOnly": true
          }
        },
        "required": [
          "id",
          "name",
          "shownToCustomers",
          "forCustomer",
          "forParticipants",
          "index",
          "values"
        ]
      },
      "ChoiceCustomFieldValue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "readOnly": true
          }
        },
        "required": [
          "id",
          "name",
          "description"
        ]
      },
      "ChoiceOption": {
        "type": "object",
        "description": "Represent an option where the customer must choose a value from one of possible values",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique, never changing id that identifies this option",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "readOnly": true
          },
          "index": {
            "type": "integer",
            "format": "int32",
            "description": "All options have an \"order\" in which they should be presented to customers.\nThe index is the position of the option in the sequence. The first option has index 0.\nNote that options of different type (choice, number, text, onoff) are part of the same sequence. Therefore index 0 may be a \"choice\" option, index 1 may be a \"text\" option, index 2 another \"choice\" option and so on.",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "readOnly": true
          },
          "shownToCustomers": {
            "type": "boolean",
            "description": "Some options may only be accessible to users/staff.\nIf this field is false, applications should not show this option to customers, or ask them to input a value for this option.",
            "readOnly": true
          },
          "enabled": {
            "type": "boolean",
            "description": "If an option is not enabled, it should not be used for new bookings. It may still be present in old bookings, created when the option was enabled.",
            "readOnly": true
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChoiceOptionValue"
            },
            "description": "The possible values for this option",
            "readOnly": true
          },
          "defaultValueId": {
            "type": "string",
            "description": "The id of the default ChoiceOptionValue, if a default value is set. Empty otherwise",
            "readOnly": true
          }
        },
        "required": [
          "id",
          "name",
          "index",
          "shownToCustomers",
          "enabled",
          "values"
        ]
      },
      "ChoiceOptionValue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "readOnly": true
          }
        },
        "required": [
          "id",
          "name",
          "description"
        ]
      },
      "CourseEvent": {
        "type": "object",
        "properties": {
          "eventNumber": {
            "type": "integer",
            "format": "int32",
            "description": "The index of the event in the course. The first event is number 1.",
            "readOnly": true
          },
          "eventId": {
            "type": "string",
            "description": "The eventId of the event. The eventId of the first event in the course uniquely identifies the course",
            "readOnly": true
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        },
        "required": [
          "eventNumber",
          "eventId",
          "startTime",
          "endTime"
        ]
      },
      "CourseSchedule": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CourseEvent"
            },
            "readOnly": true
          },
          "title": {
            "type": "string",
            "readOnly": true
          }
        },
        "required": [
          "events",
          "title"
        ]
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the field.\nIt must match the id of an existing customer custom field, as returned by a call to GET /settings/customercustomfields\nWhen creating or updating a customer, either the id or the name property are required. If both are supplied, Bookeo will only consider the id property."
          },
          "name": {
            "type": "string",
            "description": "The name of the field.\nIt must match the name of an existing customer custom field, as returned by a call to GET /settings/customercustomfields\nWhen creating or updating a customer, either the id or the name property are required. If both are supplied, Bookeo will only consider the id property."
          },
          "value": {
            "type": "string",
            "description": "The value of the field. For checkbox-type options, possible values are \"true\" and \"false\"\nFor choice fields, this is the name (i.e. plain text) of the chosen value, not the id"
          }
        },
        "required": [
          "value"
        ]
      },
      "CustomFieldDefinitions": {
        "type": "object",
        "properties": {
          "choiceFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChoiceCustomField"
            },
            "description": "A list of choice custom fields. The property is not present if there are no choice fields",
            "readOnly": true
          },
          "numberFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NumberCustomField"
            },
            "description": "A list of number custom fields. The property is not present if there are no number fields",
            "readOnly": true
          },
          "onOffFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnOffCustomField"
            },
            "description": "A list of on/off custom fields. The property is not present if there are no on/off fields",
            "readOnly": true
          },
          "textFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TextCustomField"
            },
            "description": "A list of text custom fields. The property is not present if there are no text fields",
            "readOnly": true
          }
        },
        "required": []
      },
      "Customer": {
        "type": "object",
        "description": "Represents a customer",
        "properties": {
          "id": {
            "type": "string",
            "description": "Globally unique ID that identifies this person",
            "readOnly": true
          },
          "firstName": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "phoneNumbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "streetAddress": {
            "$ref": "#/components/schemas/StreetAddress"
          },
          "creationTime": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "startTimeOfNextBooking": {
            "type": "string",
            "format": "date-time",
            "description": "The start time of the next booking. null if there are no bookings starting after \u0027now\u0027.",
            "readOnly": true
          },
          "startTimeOfPreviousBooking": {
            "type": "string",
            "format": "date-time",
            "description": "The start time of the last booking that occurred before \u0027now\u0027. It is updated only after that booking\u0027s stop time",
            "readOnly": true
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
[...]
